<section #textContainer tabindex="0" class="h-[125px] relative">
  <article
    *ngIf="!init()"
    class="absolute h-full w-full z-20 rounded backdrop-filter backdrop-blur-sm flex justify-center items-center"
  >
    <button #button class="rounded p-2 bg-white" (click)="init.set(true)">
      Haz clic o presiona Enter para iniciar
    </button>
  </article>
  <article class="p-5">
    <span *ngFor="let word of text.split('_'); let wIndex = index">
      <span class="inline-flex">
        <span
          *ngFor="let char of word.split(''); let cIndex = index"
          class="font-mono text-[24px] font-normal"
        >
          <span
            [ngClass]="{
              'is-correct':
                wIndex < index || (wIndex === index && cIndex < indexChar),
              'is-wrong': wIndex === index && cIndex === indexChar && isWrong(),
            }"
          >
            {{ char == " " ? "_" : char }}
          </span>
        </span>
      </span>
    </span>
  </article>
  <!--<span-->
  <!--*ngIf="index >= 0"-->
  <!--class="cursor absolute w-[2px] bg-black z-1"-->
  <!--[ngStyle]="{ left: indexChar === 0 ? 0 : indexChar - 1 + 'ch' }"-->
  <!--style="top: 7px; height: 1.2em; background-color: black; z-index: 1"-->
  <!-->-->
  <!--</span>-->
</section>
