.is-correct {
  @apply text-green-500;
}

.is-wrong {
  @apply text-red-500;
}

.text-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicator {
  width: 2px; /* Ancho del indicador */
  height: 25px; /* Altura del indicador */
  background-color: black; /* Color del indicador */
  position: absolute; /* Asegúrate de que sea absoluto */
  top: 0; /* Ajusta según sea necesario */
  left: 0; /* Ajusta según sea necesario */
}
