<section class="w-full">
  <article class="w-full flex justify-between gap-x-3">
    <span class="flex justify-start gap-x-6 items-center text-base font-mono">
      <span
        ><span class="text-gray-700">Speed:</span
        ><span class="text-green-500"> {{ wpm().toFixed(2) }}wpm </span>
        <span
          *ngIf="wpmProgress()"
          class="text-green-800 font-bold"
          [ngClass]="wpmProgressStatus() ? 'text-green-500' : 'text-red-500'"
        >
          <i
            [ngClass]="wpmProgressStatus() ? 'pi-arrow-up' : 'pi-arrow-down'"
            class="pi"
          ></i>
          ({{ wpmProgress().toFixed(2) }}%)
        </span>
      </span>

      <span
        ><span class="text-gray-700">Accuracy:</span
        ><span class="text-green-500"> {{ accuracy().toFixed(2) }}% </span>
        <span
          *ngIf="AccuracyProgress()"
          class="text-green-800 font-bold"
          [ngClass]="
            AccuracyProgressStatus() ? 'text-green-500' : 'text-red-500'
          "
        >
          <i
            [ngClass]="
              AccuracyProgressStatus() ? 'pi-arrow-up' : 'pi-arrow-down'
            "
            class="pi"
          ></i>
          ({{ AccuracyProgress().toFixed(2) }}%)
        </span>
      </span>

      <!--<span-->
      <!--><span class="text-gray-700">Puntuacion:</span-->
      <!--><span class="text-green-400"> 1471 </span>-->
      <!--<span class="text-green-800 font-bold"> (↑ +141) </span>-->
      <!--</span>-->
    </span>
    <span>
      <button (click)="pause()" type="button" class="mr-4">
        <span class="pi pi-pause text-base"></span>
      </button>

      <button (click)="genText()" type="button" class="mr-4">
        <span class="pi pi-refresh text-base"></span>
      </button>

      <button
        #soundTag
        type="button"
        (click)="changeSound(sound() == 1 ? 0 : 1)"
      >
        <span
          [ngClass]="sound() == 1 ? 'pi-volume-up' : 'pi-volume-off'"
          class="pi text-xl"
        ></span>
      </button>
    </span>
  </article>
</section>
